beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.4.17
chardet==3.0.3
click==6.7
Flask==0.12.2
gspread==0.6.2
gunicorn==19.7.1
httplib2==0.10.3
idna==2.5
itsdangerous==0.24
Jinja2==2.9.6
jsonify==0.5
lxml==3.7.3
MarkupSafe==1.0
newrelic==2.86.3.70
numpy==1.12.1
oauth2client==4.1.1
pandas==0.20.1
pyasn1==0.2.3
pyasn1-modules==0.0.9
PyJWT==1.5.0
PySocks==1.6.7
python-dateutil==2.6.0
pytz==2017.2
requests==2.17.3
rsa==4.7
six==1.10.0
twilio==6.3.0
urllib3==1.21.1
Werkzeug==0.12.2
